@model Bangazon_MVC_InitialSite.Models.Product

@{
    ViewBag.Title = "Add Product";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
    </div>
    <div>
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price)
    </div>
    <div>
        @Html.LabelFor(model => model.ProductTypeId)
        @Html.TextBoxFor(model => model.ProductTypeId)
    </div>
    <input type="submit" value="Create Product">
}

